{% extends 'layout.html' %}

{% block content %}
  <h2 id='head'>
    {% if message %}
      {{ message }}
      <br />
    {% endif %}
    {% if user %}
      You are logged in as {{ user.name }}
      <a id='logout_btn' href='#logout'>Logout</a>
    {% else %}
      Hi, guest
      <a id='login_btn' href='#login'>Login</a>
      <a href='/register'>Register</a>
    {% endif %}
  </h2>

  <ol id='greetings' class="details beta">
    {% for greeting in greetings %}
      <li>
        {% if greeting.author %}
          <b>{{ greeting.author }}</b> wrote:
        {% else %}
         An anonymous person wrote:
        {% endif %}
        <blockquote>{{ greeting.content|escape }}</blockquote>
      </li>
    {% endfor %}
    <li>
      <form action='/' method='post'>
        <div><textarea name='content' rows='3' cols='60'></textarea></div>
        {% if error %}
          <div class='error'>{{ error }}</div>
        {% endif %}
        <div><input type='submit' value='Sign Guestbook'></div>
      </form>
    </li>
  </ol>

  <ol id='login_form' class="details beta">
    <form action='/login' method='post'>
      {% if error %}
        <li class='error'>{{ error }}</li>
      {% endif %}
      <li>
        <label>Email:</label>
        <input type='text' name='email' value='{{ email }}' />
      </li>
      <li><label>Password:</label><input type='password' name='password' /></li>
    	<li><input type='submit' value='Log In' class='clearfix' /></li>
    </form>
  </ol>

{% endblock %}

{% block scripts %}
  <script type="text/javascript" src='static/index.js'></script>
{% endblock %}
