{% extends 'layout.html' %}

{% block content %}
  <h2 id='head'>
    {% if message %}
      {{ message }}
      <br />
    {% endif %}
    {% if user %}
      You are logged in as {{ user.name }}
      <a href='/logout'>Logout</a>
    {% else %}
      Hi, guest
      <a href='/login'>Login</a>
      <a href='/register'>Register</a>
    {% endif %}
  </h2>

  <ol class="details beta">
    {% for greeting in greetings %}
      <li>
        {% if greeting.author %}
          <b>{{ greeting.author }}</b> wrote:
        {% else %}
         An anonymous person wrote:
        {% endif %}
        <blockquote>{{ greeting.content|escape }}</blockquote>
      </li>
    {% endfor %}
    <li>
      <form action='/' method='post'>
        <div><textarea name='content' rows='3' cols='60'></textarea></div>
        <div><input type='submit' value='Sign Guestbook'></div>
      </form>
    </li>
  </ol>
{% endblock %}
