<html>
  <head>
    <link rel='stylesheet' href='static/main.css' />
  </head>
  <body>
    <div id='head'>
      {% if user %}
        You are logged in as {{ user.name }}
        <a href='/logout'>Logout</a>
      {% else %}
        Hi, guest
        <a href='/login'>Login</a>
        <a href='/register'>Register</a>
      {% endif %}
    </div>

    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}

    <form action='/' method='post'>
      <div><textarea name='content' rows='3' cols='60'></textarea></div>
      <div><input type='submit' value='Sign Guestbook'></div>
    </form>

  </body>
</html>
