<!Doctype html>
<html lang='en'>
  <head>
    <title>Guestbook</title>
    <!-- <link rel='stylesheet' href='1.css' /> -->
    <link rel='stylesheet' href='static/main.css' />
  </head>
  <body>
    <!-- <div id="header"></div> -->
    <div class="container_top">
      <h1 id="header"><a href="/">Guestbook</h1></a>
      <div class="splitter"></div>
      <div id="nav">
      </div>
      <div class="content">
        <fieldset class="beta">
          {% block content %}
          {% endblock %}
        </fieldset>
      </div>
    </div>
    <script type="text/javascript" src='static/jquery.js'></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>

